
<header>
  <h1>Crude Oil Demand Forecast</h1>
</header>

<!--<div class="parent-container">
  <app-world-chart class="component-a"></app-world-chart>
  <app-country-chart class="component-b"></app-country-chart>
  <app-loss-chart class="component-b"></app-loss-chart>
<app-world-chart class="component-a"></app-world-chart>
  <app-feature-chart></app-feature-chart>
</div>-->

<div class="container">
  <div class="top-left">
    <app-loss-chart></app-loss-chart>
  </div>
  <div class="top-right">
    <app-world-chart></app-world-chart>
  </div>
  <div class="bottom-left">
    <app-feature-chart></app-feature-chart>
  </div>
  <div class="bottom-right">
    <app-country-chart></app-country-chart>
  </div>
</div>
